<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Add to do item</h1>
    <form action="/add_todo" method="POST">
        <input type="text" name="thing">
        <input type="submit" value="enter">
    </form>

    <h2>Things to do:</h2>
    <h3>Things left to do: <%= itemsLeft %></h3>
    <ul>
        <% todoList.forEach(item => { %>
            <li class="item">
                <% if(item.completed === true) { %>
                    <span class="done"><%= item.todoThing %></span>
                <% }else{ %>
                    <span class="notDone"><%= item.todoThing %></span>
                <% } %>
                <button class="delete">delete</button>
            </li>
        <% }) %>
    </ul>

    <script src="js/main.js"></script>
</body>
</html>